<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="New Rule Set" Description=" " ToolsVersion="16.0">
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp" RuleNamespace="Microsoft.CodeAnalysis.CSharp">
    <Rule Id="CS8600" Action="Error" />
    <Rule Id="CS8601" Action="Error" />
    <Rule Id="CS8602" Action="Error" />
    <Rule Id="CS8603" Action="Error" />
    <Rule Id="CS8604" Action="Error" />
    <Rule Id="CS8605" Action="Error" />
    <Rule Id="CS8606" Action="Error" />
    <Rule Id="CS8607" Action="Error" />
    <Rule Id="CS8625" Action="Error" />
    <Rule Id="CS8654" Action="Error" />
  </Rules>
</RuleSet>